@import '../../../../styles/base';

.participation-form {
  .field-row {
    display: flex;
    flex-direction: row;

    .venue-select, .user-select, .key {
      flex: 1 1;
      margin-right: 5px;

      select {
        padding: 8px 0;
      }
    }

    .error {
      color: $danger-color;
    }
  }
}
