@import '../../../styles/base';

.question-detail {
  .answer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px 0 10px 0;

    .choice {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 5px;

      input[type=radio] {
        margin-right: 3px;
      }
    }
  }
}
