$primary-color: #0066b5;
$text-color: #121215;
$background-color: #f0f2f9;
$foreground-color: #fefefe;
$hover-color: #f0f0f0;
$danger-color: #ea1515;

$primary-font: 'Roboto', sans-serif;
$accent-font: 'Roboto', sans-serif;
$font-size: 14px;
$font-size-large: 16px;
$font-size-small: 12px;
