@import '../../styles/base';

.event-page {
  @extend .container;
  padding-top: 20px;

  h1 {
    font-size: 2em;
    margin-bottom: .5em;
  }

  .create-button-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 20px;

    span {
      font-weight: 900;
      margin-left: 5px;
    }
  }

  .create-event-modal-title {
    font-size: 1.25em;
    margin-bottom: 10px;
  }

  .event-card {
    .event-title {
      font-size: 1.5em;
      margin-bottom: .5em;
    }
  }
}
